html {
  box-sizing: border-box;
  height: 100%;
}

:before,
:after {
  box-sizing: inherit;
}

embed,
iframe,
object {
  max-width: 100%;
}

img,
video {
  max-width: 100%;
  height: auto;
}

:root {
  /* background: linear-gradient(90deg, #bb54bec7, #4189a5ce); */
  background-color: rgb(22, 21, 22);
  background-image: url('images/genshin-impact-uhdpaper.com-4K-1.jpg');
  background-size: cover;
}

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: white;
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 3.3rem;
  background: -webkit-linear-gradient(200deg, #fb8cff, #72e3ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1.2rem;
  margin-top: 3rem;
}

h2 {
  font-size: 18px;
  margin-top: 0.8rem;
  margin-bottom: 0;
  font-weight: 500;
}

nav {
  position: absolute;
  display: flex;
  padding: 1rem;
  justify-content: flex-end;
}

#primo-text,
#fates-swap,
#acquaint-text {
  font-weight: 700;
}

ul li {
  display: inline;
  margin-left: 4rem;
  margin-right: 1rem;
  justify-content: space-around;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(136, 227, 255);
}

a:hover {
  cursor: pointer;
}

#primos-title {
  font-size: 1.5rem;
  text-align: center;
  background: -webkit-linear-gradient(180deg, #ff9dd6, #5de7ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.primos-title-have,
#fates-title-user-has {
  font-size: 1.5rem;
  text-align: center;
}

#fates-title {
  font-size: 1.2rem;
}

#primo-text {
  background: -webkit-linear-gradient(180deg, #ff9dd6, #5de7ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#fates-swap {
  background: -webkit-linear-gradient(180deg, #3ad8ff, #fa70ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#acquaint-text {
  background: -webkit-linear-gradient(180deg, #99fffa, #5ac2ff, #3593ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#intertwined-img,
#primo-main-img {
  margin-left: 4rem;
}

#primo-img {
  max-width: 5%;
}

#acquaint-img:hover,
#intertwined-img:hover,
#primo-main-img:hover {
  cursor: pointer;
}

#input-fates-have,
#input-fates-want,
#input-primos-have,
#input-primos-want {
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  width: 28%;
  border-radius: 50px;
  outline: none;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  align-self: end;
}

#input-fates-have:hover,
#input-fates-want:hover,
#input-primos-have:hover,
#input-primos-want:hover,
#input-fates-have:focus,
#input-fates-want:focus,
#input-primos-have:focus,
#input-primos-want:focus {
  outline: #df6ccf solid 2px;
  caret-color: #23b9e7;
}

#main-content {
  /* background-color: rgb(22, 21, 22); */
  margin-left: 25rem;
  margin-right: 25rem;
  padding: 5rem 5rem 5rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  z-index: 10;
}

#calculate-button {
  margin-top: 3rem;
  padding: 0.5rem;
  border-radius: 50px;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 21px;

  background: rgb(184, 227, 255);
  width: 18%;
  transition: background-color 0.3s ease-in-out;
}

#calculate-button a {
  color: rgb(51, 51, 51);
}

#calculate-button:hover,
#calculate-button:focus {
  background-color: #ffc7f8;
  cursor: pointer;
}

#input-container-fates {
  margin-top: 1rem;
  grid-template-columns: 1fr 1fr;
}

.user-has-fates,
.user-has-primos {
  grid-column: 1;
}

#user-primos-calc {
  margin-top: 2rem;
}

.fates-user-wants,
.user-wants-primos {
  grid-column: 2;
}

.fates-images {
  margin-top: 2rem;
}

.want {
  text-transform: uppercase;
  background: -webkit-linear-gradient(180deg, #fdff90, #f9ffa7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.have {
  text-transform: uppercase;
  background: -webkit-linear-gradient(180deg, #ffaa90, #ffa7a7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  font-size: 0.7rem;
  margin-top: auto;
  font-weight: 500;
  padding-bottom: 1rem;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #b2f3ff;
}

::-webkit-scrollbar-thumb {
  background: #ffa1d0;
  border-radius: 100px;
}

#alert {
  font-size: 0.8rem;
  font-weight: normal;
  padding: 1rem;
  color: rgb(255, 44, 185);
}

#result {
  font-weight: 300;
  font-size: 1.5rem;
}

#log-button {
  margin-top: 3rem;
  padding: 0.5rem;
  border-radius: 50px;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 21px;
  width: 18%;
  background-color: #e6c7ff;
  transition: background-color 0.3s ease-in-out;
  color: rgb(51, 51, 51);
}

#log-button:hover,
#log-button:focus {
  background: rgb(184, 255, 237);
  cursor: pointer;
}

/* #back-button {
  margin-top: 3rem;
  padding: 0.5rem;
  border-radius: 50px;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 21px;
  width: 18%;
  background-color: #ffc7e3;
  transition: background-color 0.3s ease-in-out;
  margin-left: 2rem;
}

#back-button a {
  color: rgb(51, 51, 51);
}

#back-button:hover,
#back-button:focus {
  background: rgb(255, 254, 184);
  cursor: pointer;
} */
